# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
venv/
*.egg-info/

# pytest
.pytest_cache/

# build
build/
dist/

# OS
.DS_Store
.github/*
!.github/workflows/
!.github/workflows/*.yml

# Coverage
.coverage
